.content {
    padding-top: 80px;
}
li.torrent-list {

}
li.torrent-list-item {
    list-style: none;
    margin-left: -30px;
    margin-right: 10px;
    height: 50px;
    color: #777777;
}
div.loading-image {
    text-align: center;
}
