{% extends 'common/boilerplate.html' %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block load %}
        <script src="{% static 'js/transmission.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="addTorrentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form action="/api/transmission/add" method="post" enctype="multipart/form-data" id="add-torrent-form">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add torrent</h4>
                    </div>
                    <div class="modal-body">
                        <p><input type="file" name="torrent" class="torrent-file" /></p>
                        <p><textarea name="torrentUrl" class="torrent-urls"></textarea></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary add-torrent-submit">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="torrentInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Torrent info</h4>
                </div>
                <div class="modal-body torrent-info-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-torrent-submit">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="torrent-list-container">
        <div class="loading-image">
            <img class="loading-image" src="{% static 'images/loading.gif' %}" />
        </div>
    </div>
{% endblock %}
