{% extends 'common/boilerplate.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block load %}
        <script src="{% static 'js/transmission.js' %}"></script>
{% endblock %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger">
        {% if error == 'invalid_login' %}
        Wrong user name or password
        {% endif %}
        {% if error == 'disabled_account' %}
        Account you tried to login has been disabled
        {% endif %}
    </div>
    {% endif %}
    <form role="form" action="/login" method="POST">
        <div class="form-group">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
